<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H2026</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>itlwm</string>
	<key>CFBundleIdentifier</key>
	<string>com.zxystd.itlwm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>itlwm</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.3.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11E801a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19G68</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1170</string>
	<key>DTXcodeBuild</key>
	<string>11E801a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>itlwm</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zxystd.itlwm</string>
			<key>IOClass</key>
			<string>itlwm</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x00008086&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>ItlNetworkUserClient</string>
			<key>WiFiConfig</key>
			<dict>
				<key>WiFi_1</key>
				<dict>
					<key>password</key>
					<string>13668092</string>
					<key>ssid</key>
					<string>ZTE_C1A467</string>
				</dict>
				<key>WiFi_10</key>
				<dict>
					<key>password</key>
					<string>20mbpsss</string>
					<key>ssid</key>
					<string>INDIHOME</string>
				</dict>
				<key>WiFi_11</key>
				<dict>
					<key>password</key>
					<string>enterajah</string>
					<key>ssid</key>
					<string>Free Wifi</string>
				</dict>
				<key>WiFi_12</key>
				<dict>
					<key>password</key>
					<string>pademangan4</string>
					<key>ssid</key>
					<string>Dnhwebdesign</string>
				</dict>
				<key>WiFi_13</key>
				<dict>
					<key>password</key>
					<string>$emud4h#itu</string>
					<key>ssid</key>
					<string>DXTR</string>
				</dict>
				<key>WiFi_14</key>
				<dict>
					<key>password</key>
					<string>kuningan060219</string>
					<key>ssid</key>
					<string>KOTAK_SABUN</string>
				</dict>
				<key>WiFi_2</key>
				<dict>
					<key>password</key>
					<string>rahasia123</string>
					<key>ssid</key>
					<string>Xiaomi Redmi Note 7_2711</string>
				</dict>
				<key>WiFi_3</key>
				<dict>
					<key>password</key>
					<string>isiagaisiaga</string>
					<key>ssid</key>
					<string>SERVER 2</string>
				</dict>
				<key>WiFi_4</key>
				<dict>
					<key>password</key>
					<string>3333333333</string>
					<key>ssid</key>
					<string>POSO85 LT3</string>
				</dict>
				<key>WiFi_5</key>
				<dict>
					<key>password</key>
					<string>5emudah!tu#</string>
					<key>ssid</key>
					<string>MIFX PRO</string>
				</dict>
				<key>WiFi_6</key>
				<dict>
					<key>password</key>
					<string>R4vind@BBC</string>
					<key>ssid</key>
					<string>Lighthouse 2.4G</string>
				</dict>
				<key>WiFi_7</key>
				<dict>
					<key>password</key>
					<string>R4vind@BBC</string>
					<key>ssid</key>
					<string>Lighthouse</string>
				</dict>
				<key>WiFi_8</key>
				<dict>
					<key>password</key>
					<string>luwansa3</string>
					<key>ssid</key>
					<string>JSLUWANSA</string>
				</dict>
				<key>WiFi_9</key>
				<dict>
					<key>password</key>
					<string>enterajah</string>
					<key>ssid</key>
					<string>Indomie Goreng Kecap Asin</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 钟先耀. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
